.App {

    background:#2A1B3D;
    font-family: Arial, sans-serif;
    color: rgb(218, 214, 237);
}
 /* 44318D - purple
 2A1B3D - black
 D83F87 - pink
E98074 - light purple
A4B3B6 - grey 
#201843 - new created*/