/* WatchList.css */
.Watchlist {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  position: relative;
  width: 200px; /* Set the desired card width */
  height: 350px; /* Set a fixed card height */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Increase shadow size */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 10px;
}


.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-details {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust background color opacity */
  color: white;
}

.movie-title {
  font-size: 1.2rem;
  margin: 5px 0;
}

.movie-release-date {
  font-size: 0.9rem;
  margin-top: 5px; /* Add margin-top for spacing */
}


.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
