body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .trending-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }
  .carousel-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: #D83F87 transparent;
    background-color: #a4b3b611;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* scroll-margin-top: 200px; */
    scrollbar-width:10px;
    scrollbar-color: #D83F87 transparent; 
  }
  
  .carousel-item {
    flex: 0 0 200px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;   
  }
  .carousel-item.active {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .carousel::-webkit-scrollbar {
    width: 10px;
  }
  
  .carousel::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background-color: #d83f8664;
    border-radius: 5px;
  }
  
  .movie-info {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    max-width: 100%;
    margin: 0 auto; 
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
li {
    margin: 10px 0;
    opacity: 0.5;
    transition: opacity 1s;
  }
  
  li:hover {
    opacity: 1; 
  }
    
  p {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  li:hover p {
    color: #D83F87; 
  }

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bars {
  display: flex;
  justify-content: stretch; 
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;

}






