body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .trending-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  .carousel-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .carousel-item {
    flex: 0 0 200px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;   
  }
  .carousel-item.active {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .movie-info {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    max-width: 100%;
    margin: 0 auto; 
  }

  
  button {
    margin: 8px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
/* Opacity Transition */
li {
    margin: 10px 0;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  
  li:hover {
    opacity: 1; 
  }
    
  p {
    cursor: pointer;
    color: #878a8d;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    transition: color 0.3s;
  }

  li:hover p {
    color: #007bff; 
  }
  
  /* homepage.css */

/* Style for the header buttons */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style for the search bars */
.search-bars {
  display: flex;
  justify-content: stretch; 
  margin-bottom: 20px;
}

/* Style for individual search bars (adjust width as needed) */

/* Style for search buttons */

/* CSS */
.search {
  position: relative; /* Ensure relative positioning for the container */
}

.search-results {
  position: absolute; /* Position the results absolutely */
  top: 100%; /* Position below the input */
  left: 0;
  z-index: 999; /* Ensure it's on top of other content */
  background-color: #fff; /* Add a background color */
  border: 1px solid #ccc; /* Add a border for visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for a card-like effect */
  max-height: 200px; /* Limit the height if needed */
  overflow-y: auto; /* Add scrolling for overflow */
}

